body {
    margin: 60px auto;
    width: 70%;
    background-image: url("https://github.com/RCTimms/OHBArt/blob/main/ohba_mug.png?raw=true");
    background-color: white;
    background-repeat: repeat;
    background-size: 300px 100px;
}

nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
     background-color: white;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: #333;
     background-color: white;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
dl {
        font-family:'Helvetica', 'Arial', 'Sans-Serif';
     background-color: white;
}
 dt {
    font-weight: bold;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
      background-color: rgba(255, 255, 255,  0.5) ; 
  }
